@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&family=Space+Mono:wght@700&display=swap');

:root {
    --black: #171321;
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(180, 43%, 96%);
    --white: hsl(0, 0%, 100%);

    --font-size: 24px;
    --sans: 'Space Mono', monospace;
}

html {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    background-color: var(--light-grayish-cyan);
    color: var(--dark-grayish-cyan);
    font-family: var(--sans);
    font-size: 12px;
}

/* nav */

nav {
    padding: 30px;
    text-align: center;
}


/* grid and flexboxes styles */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: var(--white);
    border-radius: 15px;
    padding: 10px 20px;
    gap: 1.5rem;

}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

/* --- main --- */

/* input box */


.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-box svg {
    position: absolute;
    margin: 18px 0 0 10px;
}

.input-box input {
    text-align: center;
    width: 95%;
    text-align: end;
    border: 1px solid var(--very-light-grayish-cyan);
    background-color: var(--very-light-grayish-cyan);
    border-radius: 3px;
    padding: 10px;
    min-width: 0;
    font-family: var(--sans);
    font-size: 21px;
    color: var(--very-dark-cyan);
}

input:focus {
    border: 3px solid var(--strong-cyan);
    outline: none;
}

/* select tips */

.tips-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.tips-buttons button {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid var(--very-dark-cyan);
    background-color: var(--very-dark-cyan);
    color: var(--white);
    font-family: var(--sans);
    font-size: var(--font-size);
    cursor: pointer;
}

.tips-buttons button:hover {
    background-color: var(--strong-cyan);
    border-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

#light-green {
    background-color: var(--strong-cyan);
    border-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.tips-buttons input {
    border-radius: 6px;
    border: 1px solid var(--very-dark-cyan);
    background-color: var(--very-light-grayish-cyan);
    border-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    cursor: pointer;
    font-family: var(--sans);
    text-align: end;
    font-size: var(--font-size);
    min-width: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}


/* Number of people */

.number_of_people {
    margin-top: 10px;
}

.number_of_people .span-items {
    display: flex;
    padding: 20px 0 10px 0;
    justify-content: space-between;
}

.number_of_people .zero {
    border: 2px solid orange;
}

.text-zero-hidden {
    display: none;
}

.text-zero-appear {
    color: orange;

}

.number_of_people  .input-box .zero:focus {
    border: 2px solid orange;
}



/* total-box */

.total-box {
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-cyan);
    border-radius: 15px;
    color: var(--very-light-grayish-cyan);
}

.output_person,
.output_people {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 5px 20px;
}

.output_person ul,
.output_people ul {
    list-style: none;
    padding: 0;
}

.output_person ul li:last-child,
.output_people ul li:last-child {
    color: var(--grayish-cyan);
}

.output_person span,
.output_people span {
    color: var(--strong-cyan);
    font-size: var(--font-size);
}

.total-box button {
    margin: 20px;
    padding: 10px;
    border: 1px solid var(--strong-cyan);
    border-radius: 5px;
    background-color: var(--strong-cyan);
    font-family: var(--sans);
    font-size: 18px;
    color: var(--very-dark-cyan);
    cursor: pointer;
}

.total-box button:hover {
    background-color: var(--light-grayish-cyan);
    border-color: var(--light-grayish-cyan);
}


@media screen and (min-width: 600px) {

    nav {
        margin-top: 30px;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.8rem;
        margin: auto;
        width: 65%;
        padding: 30px;

    }

    .calculation-box {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .total-box {
        padding: 18px;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .tips-buttons {
        grid-template-columns: 1fr 1fr 1fr;

    }

    .total-box {
        justify-content: space-between;
    }


    .output_person {
        margin-top: 10px;
    }

    .output_person span,
    .output_people span {
        font-size: 37px;
}

}